<div class="main-content" #customLoadingformumTemplate>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header" style="height: 60px">
                        <h4 class="title">{{title}}</h4>
                    </div>
                    <div class="content">
                        <form [formGroup]="forma" novalidate="novalidate">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" [ngClass]="{'has-danger':!forma.get('code').valid}">
                                        <label>Identificador<a style="color:red"> *</a></label>
                                        <input type="text"
                                               class="form-control"
                                               placeholder="Identificador"
                                               [(ngModel)]="um.code"
                                               formControlName="code">
                                        <div class="haserror" *ngIf="forma.get('code').errors?.required">
                                            Este campo es requerido.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" [ngClass]="{'has-danger':!forma.get('name').valid}">
                                        <label>Nombre<a style="color:red"> *</a></label>
                                        <input type="text"
                                               class="form-control"
                                               placeholder="Nombre"
                                               formControlName="name"
                                               [(ngModel)]="um.name">
                                               <div class="haserror" *ngIf="forma.get('name').errors?.required">
                                                Este campo es requerido.
                                            </div>
                                            <div class="haserror" *ngIf="forma.get('name').errors?.minlength">
                                                Por lo menos 2 caracteres.
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="editando">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Activo:</label>
                                        <input label="Activo" formControlName="active" [(ngModel)]="um.active" class="form-check-input" type="checkbox" style="margin-left:6px;">
                                    </div>
                                </div>
                            </div>
                            <button mat-raised-button type="submit"
                                    class="btn btn-wine btn-fill pull-right"
                                    (click)="cancel()"
                            ><i class="material-icons">cancel</i>
                                Cancelar
                            </button>
                            <button type="submit" mat-raised-button type="submit"
                                    [disabled]="!forma.valid"
                                    (click)="insert(true)"
                                    class="btn btn-wine btn-fill pull-right"
                                    style="margin-right:5px;">
                                <i class="material-icons">done_outline</i>
                                Aceptar
                            </button>
                            <button mat-raised-button type="submit"
                                    [disabled]="!forma.valid"
                                    *ngIf="!editando"
                                    (click)="insert(false)"
                                    class="btn btn-wine btn-fill pull-right m"
                                    style="margin-right:5px;">
                                <i class="material-icons">add</i>
                                Agregar
                            </button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <ngx-loading [show]="showLoading" [config]="{ backdropBorderRadius: '3px' }"
                         [template]="customLoadingformumTemplate"></ngx-loading>
        </div>
    </div>
</div>



