<div class="x-fav-button">
    <eco-fab-speed-dial>
        <eco-fab-speed-dial-trigger>
            <button mat-fab><i class='material-icons'>menu</i></button>
        </eco-fab-speed-dial-trigger>
        <eco-fab-speed-dial-actions>
            <button mat-mini-fab matTooltip="Mostrar Activos" *ngIf="!showAllActive" ><mat-icon>visibility</mat-icon></button>
            <button mat-mini-fab matTooltip="Mostrar Todos" *ngIf="showAllActive" ><mat-icon>visibility_off</mat-icon></button>
            <button mat-mini-fab (click)="showAddData()"><i class='material-icons'>add</i></button>
        </eco-fab-speed-dial-actions>
    </eco-fab-speed-dial>
</div>
