/* You can add global styles to this file, and also import other style files */
.card .header{
    background-image: linear-gradient(#C33436,#C03135, #D8494E,#DB4C52 ) ;
    height: 60px;
}

.card .header .title, .category{
    color: white;
}

.ng-invalid.ng-touched:not(form){
    border:1px solid red;
}

.haserror{
    color: red;
    font-size: 10px;
    margin-top:3px;
    padding-left: 3px;
}