<div class="main-content"  #customLoadingformusuarioTemplate>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header" style="height: 60px">
                        <h4 class="title">{{title}}</h4>
                    </div>
                    <div class="content">
                        <form [formGroup]="forma" novalidate="novalidate">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" [ngClass]="{'has-danger':!forma.get('name').valid}">
                                        <label>Nombre y Apellidos <a style="color:red">*</a></label>
                                        <input type="text"
                                               class="form-control"
                                               placeholder="Nombre"
                                               [(ngModel)]="user.name"
                                               formControlName="name">
                                        <div class="haserror" *ngIf="forma.get('name').errors?.required">
                                            Este campo es requerido.
                                        </div>
                                        <div class="haserror" *ngIf="forma.get('name').errors?.minlength">
                                            Por lo menos 5 caracteres.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" [ngClass]="{'has-danger':!forma.get('username').valid}">
                                        <label>Usuario <a style="color:red">*</a></label>
                                        <input type="text"
                                               class="form-control"
                                               placeholder="Usuario"
                                               formControlName="username"
                                               [(ngModel)]="user.username">
                                        <div class="haserror" *ngIf="forma.get('username').errors?.required">
                                            Este campo es requerido.
                                        </div>
                                        <div class="haserror" *ngIf="forma.get('username').errors?.minlength">
                                            Por lo menos 3 caracteres.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Rol <a style="color:red">*</a></label>
                                        <app-comboroles (changeValue)="user.rol=$event"
                                                        [selected]="user.rol"></app-comboroles>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group" [ngClass]="{'has-danger':!forma.get('email').valid}">
                                        <label>Correo <a style="color:red">*</a></label>
                                        <input type="email"
                                               class="form-control"
                                               placeholder="Correo electrónico"
                                               formControlName="email"
                                               [(ngModel)]="user.email"
                                        >
                                        <div class="haserror" *ngIf="forma.get('email').errors?.required">
                                            Este campo es requerido.
                                        </div>
                                        <div class="haserror" *ngIf="forma.get('email').hasError('pattern')">
                                            Este correo es incorrecto.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Teléfono</label>
                                        <input type="number"
                                               class="form-control"
                                               placeholder="Teléfono"
                                               [(ngModel)]="user.phone"
                                               formControlName="phone"
                                               name="phone">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" [ngClass]="{'has-danger':!forma.get('email').valid}">
                                        <label>Contraseña <a style="color:red">*</a></label>
                                        <input type="password"
                                               class="form-control"
                                               placeholder="Contraseña"
                                               formControlName="password"
                                               [(ngModel)]="user.password"
                                        >
                                        <div class="haserror" *ngIf="forma.get('password').errors?.required">
                                            Este campo es requerido.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" [ngClass]="{'has-danger':!forma.get('email').valid}">
                                        <label>Confirmar Contraseña <a style="color:red">*</a></label>
                                        <input type="password"
                                               class="form-control"
                                               placeholder="Confirmar Contraseña"
                                               formControlName="confirmpassword"
                                               [(ngModel)]="user.confirm_password"
                                        >
                                        <div class="haserror" *ngIf="forma.get('confirmpassword').errors?.required">
                                            Este campo es requerido.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Dirección</label>
                                        <input type="text"
                                               class="form-control"
                                               placeholder="Dirección"
                                               formControlName="adreess"
                                               [(ngModel)]="user.adreess">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-md-6">
                                        <div class="file-field">
                                            <div class="btn btn-secondary btn-sm float-left">
                                                <input type="file" #file accept='image/*' (change)="preview(file.files);">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" *ngIf="editando">
                                        <div class="form-group">
                                            <label>Activo:</label>
                                            <input label="Activo" formControlName="active" [(ngModel)]="user.active" class="form-check-input"
                                                type="checkbox" style="margin-left:6px;">
                                        </div>
                                    </div>
                                </div>

                            <button mat-raised-button type="submit"
                                    class="btn btn-wine btn-fill pull-right"
                                    (click)="cancel()"
                            ><i class="material-icons">cancel</i>
                                Cancelar
                            </button>
                            <button type="submit" mat-raised-button
                                    [disabled]="!forma.valid"
                                    (click)="insert(true)"
                                    class="btn btn-wine btn-fill pull-right"
                                    style="margin-right:5px;">
                                <i class="material-icons">done_outline</i>
                                Aceptar
                            </button>
                            <button mat-raised-button type="submit"
                                    [disabled]="!forma.valid"
                                    *ngIf="!editando"
                                    (click)="insert(false)"
                                    class="btn btn-wine btn-fill pull-right"
                                    style="margin-right:5px;">
                                <i class="material-icons">add</i>
                                Agregar
                            </button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-user">
                    <div class="image">
                        <img src="../../../assets/img/licores.jpg"
                             alt="..."/>
                    </div>
                    <div class="content">
                        <div class="author">
                            <a href="#">
                                <img class="avatar border-gray" src="{{(!ischangeImage && user.image != null)?url+'get-image-user/'+user.image:user.image | noimageuser}}" alt="..."/>

                                <h4 class="title">{{user.name}}<br/>
                                    <small>{{user.username}}</small>
                                </h4>
                            </a>
                        </div>
                        <p class="description text-center">

                        </p>
                    </div>
                </div>
            </div>
            <ngx-loading [show]="showLoading" [config]="{ backdropBorderRadius: '3px' }"
                         [template]="customLoadingformusuarioTemplate"></ngx-loading>
        </div>
    </div>
</div>

